
{% load static %}
<html>
<head>
<title>REGISTRATION</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Course Registration Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<link href="{% static 'register/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'register/fonts.googleapis.com/css?family=Roboto:300,400,500,700' %}" rel="stylesheet">
<!-- //web-fonts --> 
</head>
<body>
	<!-- banner --> 
<div class="video"> 
	<div class="center-container">
	    <div class="w3ls-agileinfo">
			<h1>CONSTRUCTION BUDGET</h1>
		</div>
		 <div class="bg-agile">
			<h2>Supplier Registration</h2>
			<div class="login-form">	
				<form action="regcode2" method="post">
					<input type="text"  name="textfield" placeholder="Supplier Name" required="" />
					<input type="text"  name="textfield3" placeholder="Place" required="" />
					<input type="text"  name="textfield4" placeholder="Post office" required="" />
					<input type="email"  name="textfield6" placeholder="Email" required="" />

					<div class="left-w3-agile">
						<input type="text"  name="textfield10" placeholder="District" required="" />
					</div>
					<div class="right-agileits">
						<input type="text"  name="textfield5" placeholder="postal code" required="" />
					</div>
					<input type="text"  name="textfield7" placeholder="Phone Number" required="" />
					<input type="text"  name="textfield8" placeholder="Username" required="" />
					<input type="text"  name="textfield9" placeholder="Password" required="" />
					<input type="submit" value="Submit">
				</form>	
			</div>	
		</div>
	<!--//banner -->
	 <!--copyright-->
		<div class="copy w3ls">
		    <!--<p>&copy;  Registration Form . All Rights Reserved   </p>-->
	    </div>
	<!--//copyright-->

	</div>
</div>	
</body>
</html>