<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title></head>-->
{% extends 'adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="{% url 'viewworkstatus' %}#about">
  <table class="table table-dark table-striped" style="width:400px;" align="center">
    <tr>
      <th colspan="3" scope="row">contract_company :
        <select name="select">
          {% for i in val1 %}
          <option value="{{i.id}}">{{i.name}}</option>
          {% endfor %}
        </select>
        <input type="submit" name="Submit" value="Search" /></th>
    </tr>
    <tr>
      <td><strong>Work</strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Status</strong></td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i.wid.work}}</td>
      <td>{{i.date}}</td>
      <td>{{i.status}}</td>
    </tr>
    {% endfor %}

  </table>
</form>
</body>
<!--</html>-->
{% endblock %}