<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title></head>-->
{% extends 'supindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="addprod#about">
  <table width="300" border="2"class="table table-dark table-striped">
    <tr>
      <td>Product</td>
      <td><strong>Description</strong></td>
        <td><strong>Price</strong></td>
        <td><strong>Quantity</strong></td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i.name}}</td>
      <td><label>{{i.details}}</label></td>
            <td><label>{{i.price}}</label></td>
            <td><label>{{i.qty}}</label></td>
      <td><a href="{% url 'deleteprod' id=i.id %}#about" class="btn btn-light">delete</a></td>
    </tr>
     {% endfor %}
    <tr align="center">
      <th colspan="5" scope="row"><input type="submit" name="Submit" value="Add"class="btn btn-warning" /></th>
    </tr>
  </table>
</form>

</body>
<!--</html>-->
{% endblock %}
