<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'officerindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="{% url 'searchwithcontractor' %}#about">
  <table class="table table-dark table-striped" style="width:600px;" align="center">
    <tr>
      <td colspan="3">contract_company:
        <select name="select">
          {% for i in val %}
          <option value="{{i.id}}">{{i.name}} </option>
          {% endfor %}
        </select>
        <input type="submit" name="Submit" value="Search" /></td>
    </tr>
    <tr>
      <td>Report</td>
      <td>Date</td>
      <td></td>
    </tr>
    {% for i in val1 %}
    <tr>
      <td><a href="../media/{{i.report}}" width="100" height="100"><img src="../media/{{i.report}}" width="100" height="100"/></a> </td>
      <td>{{i.date}}&nbsp;</td>
      <td colspan="2"><div align="center"><a href="../media/{{i.report}}" width="100" height="100" download>Download</a></div></td>
    </tr>
    {% endfor %}

  </table>
</form>
</body>
<!--</html>-->
{% endblock %}